.card {
    border-top: 1px solid #ccc;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    list-style: none;
}

.message {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}
